@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Outlined);
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.share-movie {
  color: #999;
}

.share-movie:hover {
  cursor: pointer;
}


.movie-picture {
  /* display: flex; */
  position: relative;
  top: -50px; /* Сдвигаем квадрат на 50px вверх от верхней границы контейнера */
  left: 0; /* Привязываем квадрат к левому краю контейнера */
  aspect-ratio: 1/1;
  width: 100px;
  height: 130px;
  background-color: rgb(134, 148, 176);
  margin-right: 20px;

  box-shadow: 0 8px 8px rgba(0, 0, 0.5, 0.5); 
}

.card-body-stars {
  margin: 20px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 430px; /* Занимает одну треть ширины */
  height: 170px;
  float: left; /* Размещение в ряд по горизонтали */
  box-sizing: border-box; /* Учитывать padding и border внутри заданной ширины */
  padding: 20px; /* Отступы внутри карточки */
  background: rgb(253, 253, 253);
}

.stars {
  display: flex;
  flex-direction: row;

}

.arrow-right {
  /* font-size: 20px; */
 align-items: center;
 color: #999;
 margin-left: 10px;
}

.arrow-right::after {
  content: "\2192"; /* Unicode для стрелки вправо */
}

.movie-title {
  font-size: 24px;
}

.button-price {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heart-btn {
  color: #999;
}

.heart-btn:hover {
  color: #999;
  cursor: pointer;
}


 @import url(https://fonts.googleapis.com/css?family=Muli:400,300italic,300,400italic);
body,
html {
  margin: 0;
  font-family: muli;
  height: 100%;
  padding: 0;
  overflow-x:hidden;
}

body {
  background-color: rgb(251, 237, 220);
}

.container-main {
  display: flex;
  justify-content: center;
 


}

.container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
} 

.photos {
  width: 100%;
}

.item-flex {
  width: 100%;
}

.filters-buttons {
  display: inline-block; 
  /* display: flex;
  direction: row; */
  margin-bottom: 10px;
  margin-top: 20px;
  
  /* align-self: flex-start; */

} 
.window {
  background: #fff;
  width: 470px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  position: relative;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
} 
.options {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  margin-top:25px;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
      -ms-flex-pack:justify;
          justify-content:space-between;
}
.main-content {
  padding:50px 46px 25px 20px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #222;
  width: 100%;
  height: 100%;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}

h1 {
  letter-spacing: 0px;
  letter-spacing: .02rem;
  font-size: 48px;
  font-size: 3rem;
  text-transform: uppercase;
}

h3 {
  color: #666;
  font-size: 19px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.description {
  margin-top: 20px;
  width: 100%;
}

.color {
  height: 30px;
  cursor:pointer;
  width: 30px;
  background: #eee;
  border: 1px solid #eee;
  position:relative;
}

.background-element {
  background: #457;
  position: absolute;
  width: 120%;
  height: 400px;
  left: -50px;
  top: -80px;
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
  -webkit-transition:background .6s ease;
          transition:background .6s ease;
}
.color.overlay {
  position:absolute;
  z-index:10;
  background:transparent;
  top:-1px;
  left:-1px;
  -webkit-transform:translateX(45px);
      -ms-transform:translateX(45px);
          transform:translateX(45px);
  border:2px solid #fff;
  outline:2px solid #ccc;
  -webkit-transition:-webkit-transform .3s ease;
          transition:transform .3s ease;
}
.color-a {
  background: #333;
  margin-right:14px;
}

.color-b {
  background: #457;

}

.color-picker {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 77px;
  margin-top:5px;
  position:relative;
}
a {
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
  color:#666;
}
button {
  background:#929292;
  border:none;
  font-weight:400;
  height:40px;
  margin-top:auto;
  margin-bottom:auto;
  padding-left:25px;
  padding-right:25px;
  box-sizing:border-box;
  color:#fff;
  cursor:pointer;
  -webkit-transition:all .3s ease;
          transition:all .3s ease;
  text-transform: uppercase;
}
button:hover {
  background:#555;
  -webkit-transition:all .3s ease;
          transition:all .3s ease;
}
.divider {
  width:80%;
  height:1px;
  background:#ddd;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
}
.color-options {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  width:50%;
  -webkit-flex-flow:column;
      -ms-flex-flow:column;
          flex-flow:column;
}
.size-picker {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-flow:column;
      -ms-flex-flow:column;
          flex-flow:column;
}
.small {
  font-size: 11px;
  font-size:.7rem;
  color:#999;
  margin-top:10px;
}
.align-right {
  -webkit-align-self:flex-end;
      -ms-flex-item-align:end;
          align-self:flex-end;
}
.size-desc {
  -webkit-align-self:flex-end;
      -ms-flex-item-align:end;
          align-self:flex-end;
}

.purchase-info {
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
      -ms-flex-pack:justify;
          justify-content:space-between;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}
.price {
  font-size: 40px;
  font-size:2.5rem;
}


.selection {
  background:#fff;
}

.active {
  background:#333;
  -webkit-transition:all .3s ease;
          transition:all .3s ease;
}